# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Cache directories
.npm
.eslintcache
.node_repl_history
.yarn-integrity

# Coverage directories
coverage/
.nyc_output

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 